html {
    overflow-x: hidden;
}

.pic,
canvas {
    position: absolute;
    top: 10%;
    left: 10%;
}

.pict {
    height: 300px;
}

.imgContainer {
    float: left;
}

result {
    display: block;
}

p {
    text-align: center;
}

pre {
    display: inline-block;
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}