html {
    overflow-x: hidden;
}

.pic {
    height: 400px;
    width: auto;
}

.box-btn {
    float: right;
}

.box-title {
    margin-top: 0px;
    margin-bottom: -30px;
}

.pic,
canvas {
    position: absolute;
    top: 0%;
    left: 10%;
}

#original {
    position: absolute;
    z-index: 1;
}

.upload-container {
    padding-left: 60px;
}

.pict {
    height: 420px;
}

.imgContainer {
    float: left;
}

result {
    display: block;
}

p {
    text-align: center;
}

pre {
    display: inline-block;
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.navbar {
    z-index: 1000;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    opacity: 0.8;
    background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}